version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: finalstake-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: finalStake
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
