<div class="w-full xl:w-2/3 mx-auto">
  @if (user) {
    <div class="w-full flex flex-row justify-between mb-2">
      <div class="flex flex-row align-center">
        <h3>{{ 'user.view.title' | translate: {username: user.username} }}</h3>
      </div>
      <app-back-button></app-back-button>
    </div>
    <mat-card>
      <mat-card-content>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-1">
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>{{ 'user.id' | translate }}</span>
              <span matListItemLine>{{ user.id }}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>{{ 'user.createdAt' | translate }}</span>
              <span matListItemLine>{{ user.createdAt | date : 'short' }}</span>
            </mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>{{ 'user.email' | translate }}</span>
              <span matListItemLine>{{ user.email }}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>{{ 'user.username' | translate }}</span>
              <span matListItemLine>{{ user.username }}</span>
            </mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>{{ 'user.enabled' | translate }}</span>
              <span matListItemLine>{{ ('yesOrNo.' + user.enabled) | translate }}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>{{ 'user.locked' | translate }}</span>
              <span matListItemLine>{{ ('yesOrNo.' + user.locked) | translate }}</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="p-2">
          <h6>{{ 'user.roles' | translate }}</h6>
          <mat-chip-set>
            @for (role of user.roles; track role) {
              <mat-chip>{{ role }}</mat-chip>
            }
          </mat-chip-set>
        </div>
      </mat-card-content>
    </mat-card>
  } @else {
    <div>{{ 'user.view.notFound' | translate }}</div>
  }
</div>
