<mat-form-field class="w-full">
  <mat-label>{{ 'user.roles' | translate }}</mat-label>
  <mat-chip-grid #chipGrid>
    @for (role of roles(); track role.idRole) {
      <mat-chip-row (removed)="remove(role)">
        {{ role.name }}
        <button [attr.aria-label]="'remove ' + role.name" matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    #roleInput
    [(ngModel)]="currentRole"
    [matAutocomplete]="auto"
    [matChipInputAddOnBlur]="false"
    [matChipInputFor]="chipGrid"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); roleInput.value = ''">
    @for (role of filteredRoles(); track role.idRole) {
      <mat-option [value]="role">{{ role.name }}</mat-option>
    }

    <div class="mat-mdc-autocomplete-footer p-2 border-t">
      @if (filteredRoles().length > 0) {
        <button
          (click)="addAll(); $event.stopPropagation()"
          class="w-full text-left text-sm"
          matButton>
          {{ 'role.select.addAll' | translate }}
        </button>
      }
      @if (roles().length > 0) {
        <button
          (click)="removeAll(); $event.stopPropagation()"
          class="w-full text-left text-sm"
          matButton>
          {{ 'role.select.deleteAll' | translate }}
        </button>
      }
    </div>
  </mat-autocomplete>
</mat-form-field>
